.inline-block {
    display: inline-block;
    vertical-align: top;
}

.shape {
    align-items: center;
    border: 1px solid black;
    display: flex;
    height: 200px;
    justify-content: center;
    margin-right: 10px;
    width: 200px;
    margin-bottom: 57px;
}

.round {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.square {
    height: 150px;
    width: 150px;
}

.oval {
    width: 160px;
    height: 80px;
    border-radius: 50%;
}

.rectangle {
    height: 100px;
    width: 150px;
}

.triangle {
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    border-bottom: 85px solid red;
    height: 0;
    width: 0; 
}

.hide {
    display: none;
}