.home {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.shapes {
    width: 94%;
    margin-left: 3%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 94%;
}