.home {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.shapes {
    width: 94%;
    margin-left: 3%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 94%;
}

.items-number-container {
    margin-left: 33px;
    margin-bottom: 15px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    
}
  
/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .filters {
        flex-direction: column;
    }

    .literal-filters {
        text-align: left;
    }

    .color-filters {
        margin-top: 15px;
        text-align: left;
    }

    .items-number-container {
        margin-left: 22px;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .filters {
        flex-direction: column;
    }

    .literal-filters {
        text-align: left;
    }

    .color-filters {
        margin-top: 15px;
        text-align: left;
    }

    .items-number-container {
        margin-left: 14px;
    }

    .shapes {
        justify-content: center;
    }
}